/**
 * Stylesheet for the FlowerDetails component.
 * Dotty wraps her hooves around you and gives you a warm fluffy virtual hug.
 * Author: Andrew Jarombek
 * Date: 8/2/2020
 */

@import "../../vars";

.flower-details-modal {
  cursor: default;

  & > div {
    width: 92%;
    max-width: 400px;
  }

  .flower-details {
    background-color: #F6F6F6;

    .header {
      display: flex;
      padding: 25px 20px;

      .name {
        font-family: 'RobotoSlab-Bold', Helvetica, sans-serif;
        font-size: 20px;
        margin: 0;
      }

      .header-info {
        display: flex;
        margin: 0 0 0 auto;
        align-items: center;

        .type, .price, .spread {
          margin: 0;
        }

        .type, .price {
          font-family: 'Roboto-Thin', Helvetica, sans-serif;
          font-size: 18px;
        }

        .spread {
          font-family: 'ElegantIcons', Helvetica, sans-serif;
          margin: 0 10px;
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin-top: 20px;

      .status {
        display: flex;
        align-items: center;

        p {
          margin: 0;
        }

        p:nth-child(1) {
          font-family: 'ElegantIcons', Helvetica, sans-serif;
          font-size: 22px;
        }

        .in-stock {
          color: #28a745;
        }

        .out-of-stock {
          color: #dc3545;
        }

        p:nth-child(2) {
          font-family: 'Roboto-Regular', Helvetica, sans-serif;
          padding-left: 5px;
        }
      }

      > p:nth-child(2) {
        font-family: 'Roboto-Regular', Helvetica, sans-serif;
        margin: 10px 0 0 0;
      }

      > p:nth-child(3) {
        font-family: 'Roboto-Thin', Helvetica, sans-serif;
        margin: 20px 0 0 0;
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 45px 20px 25px 20px;

      .add-to-cart-button {
        &.add-to-cart-enabled {
          background-color: @brightLilac;
        }

        &.add-to-cart-disabled {
          background-color: @darkLilac;
        }
      }

      .return-button {
        color: @darkPurple;
      }
    }
  }
}
